services:
  security_pattern_miner:
    build:
      context: ./security_pattern_miner
      dockerfile: securityPatternMiner.dockerfile
    image: security_pattern_miner:latest
    volumes:
      - ./build/volumes/data:/data
    env_file:
      - ./.env
    command: ["python", "./runner.py"]
    deploy:
      resources:
        limits:
          cpus: '8.0'
          memory: 10G
        reservations:
          cpus: '4.0'
          memory: 4G
